.quick-acces-card-wrap {
    &:hover {
        .quick-card-image {
            transform: scale(1.1);
        }
    }
}

.financial-btn {
    &:hover {
            background: #00aced;
        .learnmore-round-btn-icon::before {
            content: '';
            height: 2px;
            width: 100%;
            background-color: white;
            display: block;
        }
    }
}